[Unit]
Description=Docker Application Container Engine
Documentation=https://docs.docker.com

[Service]
Type=notify
ExecStart=/usr/bin/dockerd --iptables=false --ip-masq=false --host=unix:///var/run/docker.sock --storage-driver=overlay
LimitNOFILE=infinity
LimitNPROC=infinity
LimitCORE=infinity
TasksMax=infinity
Delegate=yes
KillMode=process
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
